language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
install: pip install requests responses coveralls pyyaml
script: nosetests -v --with-coverage --cover-package=razorpay
after_success: coveralls
