include LICENSE, CHANGELOG.md, README.md
recursive-include tests *
recursive-include razorpay *
recursive-include examples *
recursive-exclude razorpay *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo