# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name:  Python Package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  deploy:
    runs-on: ubuntu-latest # nosemgrep : semgrep.dev/s/swati31196:github_provided_runner
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9, 3.10, 3.12]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install setuptools
        python -m pip install --upgrade pip
        pip install responses
        python3 setup.py install
    - name: Run Tests
      run: python3 -m unittest
    - name: Print Python Version
      run: python3 --version      
    - name: Run order Test
      env:
        RZP_API_KEY: ${{ secrets.RZP_API_KEY }}
        RZP_API_SECRET: ${{ secrets.RZP_API_SECRET }}
      run: python3 order_connect.py     
